* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;

    --background-color: #D9D9D9;
    --main-color: #330CFF;
    --button-width: 45px;
    --button-height: 45px;
}

body>* {
    width: 100%;
    max-width: 1400px;
}

header,
footer {
    flex: 0;
    padding: 0 13px;

    background-color: var(--background-color);
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

section {
    margin: 0 48px;
}

a {
    text-decoration: none;
}

#main-menu.hidden {
    display: none;
}

/* HEADER */
header {
    min-height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
}

header button {
    background: none;
    border: none;
    width: var(--button-width);
    height: var(--button-height);

    svg {
        width: var(--button-width);
        height: var(--button-height);
        fill: #000000;
    }
}

.profile-button {
    background-color: var(--main-color);
    border-radius: 999px;
    border: none;
    width: var(--button-width);
    height: var(--button-height);

    svg {
        width: var(--button-width);
        height: var(--button-height);
        fill: var(--background-color);
    }
}

.logo-wrapper {
    background-color: var(--main-color);
    padding: 7px 37px;
    margin-left: auto;

    h1 {
        font-size: 20px;
        font-weight: 400;
        color: #FFFFFF;
    }
}

.icon-wrapper {
    margin-left: 28px;
    max-height: var(--button-height);
}

/* Main */
.container {
    display: flex;
}

h2 {
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
}

button {
    appearance: none;
    border: none;
    margin: 0;
    padding: 0;
    background: none;
}

/* NAV */
#main-menu {
    z-index: 100;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    position: fixed;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 22px 14px 0;

    #back svg {
        height: 35px;
        width: 35px;
    }

    .menu-text-container {
        padding: 12px 24px;
        background-color: var(--background-color);
    }

    svg {
        fill: #000000;
    }

    ul {
        margin-top: 24px;
        padding-left: 26px;
    }

    li {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 8px;
        align-items: center;
        padding-bottom: 20px;

        p {
            font-size: 20px;
            text-transform: uppercase;
        }

        button {
            border: 4px solid black;
            border-radius: 999px;
            height: 32px;
            width: 32px;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                flex: 1;
            }
        }
    }

    #invite {
        align-self: stretch;
        background-color: var(--main-color);
        color: #E5E1FF;
        font-size: 20px;
        text-transform: uppercase;
        padding: 12px 0;
        margin: 78px 26px 0;
    }

    #logout {
        align-self: center;
        background-color: var(--main-color);
        color: #E5E1FF;
        font-size: 20px;
        text-transform: uppercase;
        padding: 8px 20px;
        margin: 280px 26px 0;
    }
}

/* Profiles */
#profiles {
    margin-top: 42px;

    .container {
        gap: 17px;
        justify-content: flex-end;
    }

    .container>div {
        border-bottom: 1px solid black;
        padding-bottom: 15px;
    }
}

/* Up Next */
#up-next {
    margin-top: 23px;

    h2 {
        margin-bottom: 10px;
    }

    .container {
        flex-direction: column;
        gap: 11px;
        background-color: var(--background-color);
        padding: 16px 12px;
    }

    .event {
        display: flex;
        gap: 15px;
    }
}

/* Calendar */
#calendar {
    margin-top: 31px;

    .month-year-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .grid-container {
        background-color: var(--background-color);
        height: 234px;

        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: auto repeat(5, 1fr);
        justify-items: stretch;
        align-items: stretch;
        gap: 14px;
        padding: 10px;

        text-align: center;

        .inactive {
            background-color: var(--background-color);
        }
    }

    svg {
        fill: #000000;
    }

    .day {
        background-color: #FFFFFF;

    }
}

/* Action */
.action-container {
    display: flex;
    justify-content: flex-end;
    margin: 14px 14px 0;

    position: fixed;
    bottom: 127px;
    right: 14px;
}

.action-container button {
    background-color: var(--main-color);
    color: #FFFFFF;
    border: none;
    padding: 2px 4px;
    font-size: 15px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.action-container button:first-child {
    border-right: 1px solid #FFFFFF;
}

/* FOOTER */
footer {
    max-height: 103px;
}

footer nav ul {
    padding: 17px 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

footer nav ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
    color: #000000;

    svg {
        width: var(--button-width);
        height: var(--button-height);
        fill: var(--main-color);
    }
}