* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Inter", sans-serif;

    --background-color: #D9D9D9;
    --main-color: #330CFF;
    --button-width: 45px;
    --button-height: 45px;
}

body>* {
    width: 100%;
    max-width: 1400px;
}

header,
footer {
    flex: 0;
    padding: 10px 13px;

    background-color: var(--background-color);
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

section {
    padding: 15px;
    flex: 1;
}

.hidden {
    display: none;
}

header {
    min-height: 113px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: var(--main-color);

}

header button {
    background: none;
    border: none;
    width: var(--button-width);
    height: var(--button-height);
}

header button>img {
    width: var(--button-width);
    height: var(--button-height);
}

#profile-button {
    background-color: var(--main-color);
    border-radius: 999px;
}

.logo-wrapper {
    background-color: var(--main-color);
    padding: 8px 37px;
    color: #FFFFFF;
    margin-left: auto;
}

.logo-wrapper h1 {
    font-weight: 400;
}

.icon-wrapper {
    margin-left: 28px;
}

footer {
    min-height: 103px;
}

footer nav ul {
    padding: 17px 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

footer nav ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
    color: #000000;

    svg {
        width: var(--button-width);
        height: var(--button-height);
        fill: var(--main-color);
    }
}